body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
  color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
  background-color: cadetblue;
  color: black;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
}

form {
  backdrop-filter: blur(75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 10px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.033);
  /* background: #ffffff0a; */
  border: 1px solid #f6f6f627;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.49);
  border-radius: 10px;
}

input {
  background-color: rgba(245, 245, 245, 0.064);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.49);
  color: rgba(255, 255, 255, 0.573);
  width: 200px;
  padding: 8px;
  font-size: 0.85rem;
  border: none;
  outline: none;
  border-radius: 3px;
  margin: 4px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.573);
}

.box {
  display: flex;
  flex-wrap: wrap;
}

textarea {
  width: 96%;
  margin-left: 4px;
}

h4 {
  margin-bottom: 0.6rem;
  font-weight: 600;
  margin-top: 1rem;
}

.checkbox,
.radio {
  width: fit-content;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox input,
.radio input {
  margin-left: -5.9rem;
}

.checkbox label,
.radio label {
  margin-left: -5.4rem;
  margin-top: -3px;
  color: #f6f6f66d;
}

.country {
  margin-top: 10px;
}

.country label {
  font-size: 15px;
  font-weight: 600;
}

select,
textarea {
  padding: 5px;
  background-color: rgba(245, 245, 245, 0.064);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.49);
  color: gray;
  border-radius: 3px;
  border: none;
  outline: none;
}

button {
  margin-top: 1rem;
  background-color: rgba(60, 142, 145, 0.258);
  color: #f6f6f6;
  padding: 7px 0px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

button:hover {
  background-color: #9da62169;
  transition: all 0.3s;
}

.c1 {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #00d0ff4f;
  filter:blur(15px) ;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: -100;
}

.c2 {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #9da62169;
  filter:blur(15px) ;
  position: absolute;
  bottom: -30px;
  left: -30px;
  z-index: -100;
}