body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
  background-color: cadetblue;
  color: black;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://img.freepik.com/free-vector/5g-networking-technology-background-vector-with-blue-digital-line_53876-126043.jpg?t=st=1718873553~exp=1718877153~hmac=d8234ecc3ada19bab0d1a34f19a286ec987f51256633c73f43fa309990dd3bdc&w=996");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.49);
  border-radius: 3px;
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 10px;
}

input {
  background-color: whitesmoke;
  width: 200px;
  padding: 8px 5px;
  font-size: 0.9rem;
  border: none;
  outline: none;
  border-radius: 3px;
  margin: 4px;
}

.box{
  display: flex;
  flex-wrap: wrap;
}

textarea{
  width: 97.5%;
  margin-left: 4px;
}

h4{
  margin-bottom: 0.6rem;
  font-weight: 600;
  margin-top: 1rem;
}

.checkbox, .radio{
  width: fit-content;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox input, .radio input{
  margin-left: -5.9rem;
}

.checkbox label, .radio label{
  margin-left: -5.4rem;
  margin-top: -3px;
  color: #161616;
}

.country{
  margin-top: 10px;
}

.country label{
  font-size: 16px;
  font-weight: 600;
}

select, textarea{
  padding: 5px;
  background-color: white;
  color: gray;
  border-radius: 4px;
}

button{
  margin-top: 1rem;
  background-color: #1f7183;
  color: white;
  padding: 7px 0px;
  border: none;
  outline: none;
  border-radius: 3px;
}